.chart {
  width: 100%;
  height: 400px;
  /* background-color: red; */
}

.el-menu-item {
  align-items: center;
  justify-content: center;
}

.chart-border {
  border: 1px dashed gray;
  /* list-style-position: inside; */
}

.table-container {
  width: 100%;
}